body {
  margin: 0;
  background-color: #131122;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}


h1{
  font-family: "Audiowide", sans-serif;
}

@font-face {
  font-family: "Arimo";
  src: url(../assets/fonts/Arimo-Italic-VariableFont_wght.ttf);
}

nav {
  margin-top: 1em;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px;
  background-color: #0a0913;
  padding: 10px;
}

.navFlex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navFlex h3 {
  padding: 0 20px;
  color: white;
  font-size: 18px;
  font-family: "Audiowide", sans-serif;
}

.navFlex a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.navFlex a.active {
  color: #cc0a73;
  font-weight: 500;
}

.navFlex h3 a:hover {
  color: #cc0a73;
  font-weight: 600;
  text-decoration: none;
}

.searchBar {
  display: flex;
  padding: 0.5%;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffffff;
  width: 65%;
  border-radius: 20px;
  margin-right: 2%;
  margin-left: 2%;
  border: 0;
}

.footer {
  background-color: #860738;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.footer a {
  color: #000000b4;
  font-weight: 500;
  text-decoration: none;
}

.footer a.active {
  color: #d4af37;
  font-weight: 500;
}

.footer a:hover {
  color: #d4af37;
  font-weight: 700;
  text-decoration: none;
}

.footerRed {
  margin-right: 10%;
}

.footerRow {
  padding-left: 40px;
  padding-right: 40px;
}

.footerCol {
  padding: 0px;
}

.footer p {
  color: #1f1f1f;
  font-family: "Arimo";
}

.footer h3 {
  color: #d4af37;
  font-family: "Audiowide", sans-serif;
}

.watchlist-nav{
margin: 2%;  
}

.welcome{
  margin: 5%;
  color: #ffffff;
  text-align: center;
}


.parent {
  position: relative;
  top: 0;
  left: 20px;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
}

.image2 {
  position: absolute;
  top: 60px;
  left: 30px;
}

.button{
  width: auto;
  height: 50px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  background-color: #CC0A73;
  color: #ffffff;

}

.homeMovies{
  padding-top: 10%;
  margin: 1%;
  color: #ffffff;
}

.homeMovies h2{
  font-family: "Audiowide", sans-serif;
}

.homeMovies h5{
  padding-right: 5%;
} 

.landingMovies{
  padding-top: 10%;
  color: #ffffff;
}

.landingMovies h2{
  font-family: "Audiowide", sans-serif;
}

.landingList{
  margin: 1%;
  
}

.landingMovies h5{
  padding-right: 5%;
} 

.trendingFlex{
  display: flex;
  justify-content: space-between;
}

.homeList{
  margin: 1%;
  margin-right: 10%;
}

.watchlist-Nav{
  display: flex;
  
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  width: auto;
  border-radius: 10px;
  margin-right: 2%;
  margin-left: 2%;
  border: 1px;
}

.watchlist-searchBar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.watchlist-searchBar-button{
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.watchlist-description {
  background-color: rgba(255, 255, 255, 0.8);
  border: #000000;
}

.watchlist-unwatched {
  margin-top: 10%;
  margin: 2%;
  color: #ffffff;
}

.movielanding-header {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/img/testImg/bryan-cranston-aaron-paul-breaking-bad.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
 
.landing-flex{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;     
    padding-left: 50%;  
    padding-bottom: 10%; 
    padding-right: 5%;
    text-align: center;  
    color: #ffffff;
}

.landing-flex h5{
  font-size: 14px;
  
}

